@font-face {
    font-family: 'Vazir-Black';
    src: url(../assets/fonts/Vazir-Black.woff) format('woff');
}

@font-face {
    font-family: 'Vazir-Bold';
    src: url(../assets/fonts/Vazir-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Vazir-Medium';
    src: url(../assets/fonts/Vazir-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Vazir-Regular';
    src: url(../assets/fonts/Vazir-Regular.woff) format('woff');
}